replicaCount: 1

image:
  repository: minhtri2582/drum-machine
  pullPolicy: Always
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
securityContext: {}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: traefik
  annotations:
    cert-manager.io/cluster-issuer: production
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
  hosts:
    - host: drum.k.elidev.info
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: drum.k.elidev.info
      hosts:
        - drum.k.elidev.info

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

# Env from Secret (DATABASE_URL, GOOGLE_*, JWT_SECRET, FRONTEND_URL)
envFrom: []

volumes: []
volumeMounts: []

nodeSelector: {}
tolerations: []
affinity: {}
